[Unit]
Description=AUR malware check (system-level scan, root)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
StateDirectory=archcanary
ExecStart=/usr/lib/archcanary/archcanary.sh --refresh --all-time --check-systemd --check-ebpf --check-bpftool --check-ldso --check-kmod --no-notify --log-file=/var/lib/archcanary/last-scan.log
