[Unit]
Description=AUR malware check (system-level scan, root)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
StateDirectory=aur-malware-check
ExecStart=/usr/lib/aur-malware-check/aur-malware-check.sh --refresh --all-time --check-systemd --check-ebpf --check-bpftool --check-ldso --check-kmod --no-notify --log-file=/var/lib/aur-malware-check/last-scan.log
